@media only screen and (min-width: 680px) {
    .padding-y-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .padding-top-content {
        padding-top: 5rem;
    }

    .header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        backdrop-filter: unset;
        z-index: -5;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
    }

    .header.bg-nav-active::before {
        background-color: rgba(0, 0, 0, 0.245);
        backdrop-filter: blur(30px);
    }

    .header__navbar {
        position: static;
        height: auto;
        background-color: transparent;
        backdrop-filter: unset;
        text-align: right;
    }

    .header__navbar-list {
        display: inline-block;
        margin-left: 1rem;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

    .header__navbar-link {
        &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 1px;
            display: block;
            transition: all 0.3s ease;
            bottom: 25%;
        }

        &:hover::after {
            width: 100%;
            height: 1px;
            background-color: #ffb703;
        }
    }

    .btn-humburger {
        display: none;
    }

    .btn-x-navbar.active-navbar {
        display: none !important;
    }

    .hero__wrapper {
        width: 60%;
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    // ini bagian info
    .info {
        justify-content: space-between;
    }

    .info__wrapper-content {
        width: 48%;
        justify-content: center;
    }

    .info__wrappper-image--mobile {
        display: none;
    }

    .info__wrappper-image {
        display: block;
        width: 30%;
        margin: 0;
    }

    .info__img-circle-three {
        left: -34%;
    }

    .info__description {
        margin-top: 0.5rem;
        line-height: 2rem;
    }

    // ini bagian layanan
    .layanan__wrapper-card,
    .jenis-kuliner__wrapper-card {
        gap: 1.5rem;
    }

    .card-small {
        flex-basis: 47%;
    }

    // ini bagain resto populer
    .resto-populer__wrapper-card,
    .wrapper-card-favorite {
        grid-template-columns: 1fr 1fr;
    }

    // ini bagian galeri
    .galeri-resto__wrapper-galeri {
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 148px);
    }

    .galeri-4 {
        grid-column: span 1;
    }

    .galeri-5 {
        grid-row: span 2;
    }

    .galeri-6 {
        grid-column: span 2;
    }

    .overlay-img {
        padding: 2rem 1.2rem;

        & h3 {
            font-size: 1.15rem;
            font-weight: 500;
        }
    }

    // ini bagian ulasan pengguna
    .card-ulasan {
        flex-basis: 47%;
    }

    /*
		Page Favorite
	*/
    #search-favorite {
        width: 400px;
    }

    /*
		Page Detail Resto
	*/

    .hero-detail-resto .hero-wrapper {
        height: 43vh;
    }

    .detail-resto .detail-resto__info-wrapper {
        padding: 0rem 2rem 2rem;
    }

    .detail-resto .detail-resto__info-wrapper .info-wrapper__navigasi a,
    .detail-resto .detail-resto__info-wrapper .info-wrapper__navigasi p,
    .detail-resto .detail-resto__info-wrapper .info-wrapper__navigasi span {
        font-size: 0.9rem;
        padding-top: 1.8rem;
        padding-bottom: 1.5rem;
    }

    div.wrapper-ulasan__name-star-date.flex-col {
        flex-direction: row;
        align-items: center;
    }

    .strip {
        display: block !important;
    }

    // ini bagian footer
    .footer__profile-website {
        align-items: flex-start;
        text-align: left;
        flex-basis: 30%;
    }

    #ulasan {
        width: 200px;
    }

    .card-dialogue-eror {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    .text-4xl {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .text-3xl {
        font-size: 2.25rem;
    }

    .text-2xl {
        font-size: 1.5rem;
    }

    .hero__wrapper {
        height: 100vh;
    }

    .hero__title {
        line-height: 4rem;
    }

    .hero__description {
        line-height: 2rem;
    }

    .card-small {
        flex-basis: 22%;
    }

    .resto-populer__wrapper-card,
    .wrapper-card-favorite {
        grid-template-columns: repeat(3, 1fr);
    }

    // ini bagian section resto
    .galeri-resto__wrapper-galeri {
        grid-template-rows: repeat(3, 228px);
    }

    .overlay-img {
        padding: 2rem;

        & h3 {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }

    // ini bagian ulasan pengguna
    .ulasan__wrapper-card {
        gap: 1.5rem;
    }
    .card-ulasan {
        flex-basis: 31%;
    }

    /* 
		Ini bagian page detail resto
	*/

    .hero-detail-resto .hero-wrapper {
        height: 63vh;
    }

    .detail-resto
        .detail-resto__info-wrapper
        .info-wrapper__ulasan-pengguna
        .ulasan-pengguna__wrapper-form
        .form-ulasan-user {
        flex-direction: row;
        justify-content: space-between;
    }

    .detail-resto
        .detail-resto__info-wrapper
        .info-wrapper__ulasan-pengguna
        .ulasan-pengguna__wrapper-form
        #input-username {
        width: 23.65%;
    }

    .detail-resto
        .detail-resto__info-wrapper
        .info-wrapper__ulasan-pengguna
        .ulasan-pengguna__wrapper-form
        #input-review-resto {
        width: 60.21%;
    }

    .detail-resto
        .detail-resto__info-wrapper
        .info-wrapper__ulasan-pengguna
        .ulasan-pengguna__wrapper-form
        #btn-submit-review {
        width: 12.05%;
    }

    .footer__profile-website {
        flex-basis: 25%;
    }

    .footer__ulasan {
        align-items: flex-start;
        margin: 0;

        & h2 {
            margin-bottom: 1.3rem;
        }
    }

    .card-dialogue-eror {
        width: 360px;
    }
}

@media only screen and (min-width: 1440px) {
    .padding-x-content {
        padding-left: 13.16%;
        padding-right: 13.16%;
    }
}
@media only screen and (min-width: 1920px) {
    .padding-x-content {
        padding-left: 22.37%;
        padding-right: 22.37%;
    }
}
@media only screen and (min-width: 2560px) {
    .padding-x-content {
        padding-left: 29.3%;
        padding-right: 29.3%;
    }
}
